<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.worthPoint.testLayer.MyAccountTest"/>
      <class name="com.worthPoint.testLayer.MarksPopularMarksTest"/>
      <class name="com.worthPoint.testLayer.VaultTest"/>
      <class name="com.worthPoint.testLayer.VisualSearchTest"/>
      <class name="com.worthPoint.testLayer.PriceGuideCategoriesTest"/>
      <class name="com.worthPoint.testLayer.MarksCategoriesTest"/>
      <class name="com.worthPoint.testLayer.SearchPreferenceTest"/>
      <class name="com.worthPoint.testLayer.PriceGuidePopularItemsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
